@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    --primary-color:#222;
    --secondary-color:#1c1f33;
    --accent-color:#fff;
}


body{
    margin:0;
    padding:0;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Times New Roman', Times;
    background-image: url("assets/background-paper.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color:var(--primary-color);
    overflow: scroll;
}

body::-webkit-scrollbar{
    display: none;
}

p{
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: "Abril Fatface", serif;
    letter-spacing: 2px;
}

h2{
    font-family: "Abril Fatface", serif;
    letter-spacing: 2px;
}

a{
    text-decoration: none;
    color:inherit;
}

.paper-body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:80%;
}


.paper-main-heading{
    width:100%;
    height:100vh;
    display:grid;
    place-items: center;
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -10px;
    cursor: pointer;
}

.paper-rule{
    background-color:var(--secondary-color);
    height:2px;
    width:100%;
    margin-top:2px;
    margin-bottom: 2px;
}

.vertical-rule{
    background-color:var(--secondary-color);
    height:100%;
    width:2px;
    margin-left:2px;
    margin-right: 2px;
}

.paper-information{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    font-size: 1.3rem;
}

.paper-information p{
    text-align: center;
}

.paper-information p:nth-child(1){
    width:33%;
}

.paper-information p:nth-child(2){
    width:33%;
}

.dark-mode-toggle{
    display: grid;
    place-items: center;
    width:33%;
    text-align: center;
    font-size:40px;
    color:var(--secondary-color);
}

.paper-main-body{
    display:flex;
    justify-content: space-around;
    width:100%;
}

.main-section{
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    padding:5px;
}

.main-right-column{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    padding:5px;
    border-left: 2px solid var(--secondary-color);
}

.skill-section{
    display: flex;
}

.skill-details{
    width:60%; 
}

.skill-set-box{
    font-variant: small-caps;
    padding: 5px;
}

.photo-filter{
    filter: grayscale();
    outline: 1px solid var(--secondary-color);
    outline-offset: 1px;
    transition: all 0.2s ease-in;
}

.photo-filter:hover{
    filter: grayscale(0);
}

.profile-photo{
    width:30%;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: center;
}

.experience-logo{
    width:90%;
    aspect-ratio: 16/9;
}

.experience-details{
    text-align: justify;
    font-weight: 500;
    width:90%;
}

.project-showcase{
    padding-top:10px;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

.project{
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left:2px;
    text-align: center;
}

.project:hover .project-image{
    transform:scale(1.2);
    filter: grayscale(0);
}

.project:nth-child(2){
    border-left: 2px solid var(--secondary-color);
    
}

.project:nth-child(3){
    border-left: 2px solid var(--secondary-color);
}

.project-container{
    overflow: hidden;
    height:200px;
    aspect-ratio:16/9;
}

.project-image{
    height:200px;
    aspect-ratio:16/9;
    object-fit: cover;
    object-position:center;
    transition: all 0.2s ease-in-out
}

.project-image:hover{
    transform:scale(1.2);
}

.spinning-wheel{
    display: grid;
    place-items:center;
    width:8%; 
    animation: spin 3s infinite;
    padding:0;
    margin:0;
}

.page-break-marquee{
    display:flex;
    align-items: center;
    font-size: 2rem;
}

marquee{
    width:90%;
    height:50px;
    font-size: 30px;
    font-variant: small-caps;
}

.paper-contact{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.paper-contact-heading{
    width:100%;
    text-align: center;
    background-color:var(--secondary-color);
    color:var(--accent-color);
}

.paper-contact input{
    height: 20px;
    width:300px;
    padding: 5px;
    margin:5px;
}

.paper-contact textarea{
    height: 100px;
    width:300px;
    padding: 5px;
    margin:5px;
}

.paper-contact button{
    outline: 1px solid var(--secondary-color);
    color:var(--secondary-color);
    border:none;
    margin:5px;
    font-size:20px;
    font-variant: small-caps;
    background:none;
}

.paper-footer{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.paper-footer-socials{
    width:80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.paper-footer-socials svg{
    color:var(--secondary-color);
    font-size: 35px;
    aspect-ratio:1/1;
}

.paper-footer-logo h2{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: -3px;
}

.mySlides {
    width:70%;
    aspect-ratio:16/9;
    display:none;
    position: relative;
    place-items: center;
    filter: grayscale(1);
    transition: all 0.2s ease-in-out;
}

.mySlides a{
    text-decoration: none;
}

.mySlides:hover{
    filter: grayscale(0);
}


.paper-project-slider{
    width:80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.image-slider-left, .image-slider-right{
    color:var(--secondary-color);
    border:none;
    margin:5px;
    font-size:50px;
    font-variant: small-caps;
    background:none;
}

.paper-project-header{
    text-align: center;
}

.laptop{
    width:80%;
    aspect-ratio: 1/1;
    background-image: url("assets/laptop_frame.png");
    background-size: cover;
    position: relative;
}
.wallpaper{
    width:72%;
    height:45%;
    position: absolute;
    top:26%;
    left:14%
}

.laptop h2{
    position: absolute;
    bottom:0;
    text-align: center;
    left:50%;
    transform: translate(-50%, 0);
    width:100%;
}

.mySlides .image{
    width:100%;
    aspect-ratio:16/9;
    object-fit: cover;
    object-position: center;
    position:relative;
}

@media (max-width:728px) {
    .paper-body{
        width:100%;
    }

    .paper-main-body{
        flex-direction: column;
    }

    .paper-main-heading{
        font-size: 60px;
    }

    .main-section{
        width:100%;
    }

    .main-right-column{
        width:100%;
        border:none;
    }

    .paper-information p:nth-child(1){
        width:50%;
    }

    .paper-information p:nth-child(2){
        width:50%;
    }


    .skill-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-details{
        width:100%;
    }

    .profile-photo{
        width:50%;
    }

    .project-showcase{
        flex-direction: column;
    }

    .project:nth-child(2){
        border-left:none;
    }

    .project:nth-child(3){
        border-left:none;
    }
    
    .page-break-marquee{
        width:90%;
    }

    .page-break-marquee svg{
        height:0.8em;
        aspect-ratio: 1/1;
    }
    
    .paper-footer-logo{
        display:none;
    }

    .paper-project-slider{
        width:100%;
        padding:2px;
    }

    .laptop h2{
        font-size: 20px;
    }
}

@keyframes spin{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
